In [10]:
import pickle
all_data = pickle.load(open('ns_music_all_data_ming_20211124','rb'))

In [14]:
all_data.keys()

dict_keys(['df_playlist_info', 'df_playlist', 'df_track', 'train_indices', 'val_indices', 'test_indices', 'train_user_ids', 'val_user_ids', 'test_user_ids'])

# df_playlist_info

play list df, contains all 1000000 playlists

In [40]:
df_playlist_info = all_data['df_playlist_info']

In [41]:
df_playlist_info.head()

,collaborative,duration_ms,modified_at,name,num_albums,num_artists,num_edits,num_followers,num_tracks,pid
0,False,11532414,1493424000,Throwbacks,47,37,6,1,52,0
1,False,11656470,1506556800,Awesome Playlist,23,21,5,1,39,1
2,False,14039958,1505692800,korean,51,31,18,1,64,2
3,False,28926058,1501027200,mat,107,86,4,1,126,3
4,False,4335282,1401667200,90s,16,16,7,2,17,4

In [36]:
len(df_playlist)

1000000

# df_track

tracks df 
- 2269954 tracks data WITH MUSIC FEATURES (so not all songs)
- this data set does not contains album img/text embedding

In [37]:
df_track = all_data['df_track']

In [38]:
df_track.iloc[0]

album_name                                              Miss E...So Addictive
album_uri                                spotify:album:20t54K6C80QQH7vbcpfJcP
artist_name                                                     Missy Elliott
artist_uri                              spotify:artist:2wIVse2owClT7go1WT98tk
duration_ms                                                            275600
track_name                               One Minute Man (feat. Jay-Z) - Remix
track_uri                                spotify:track:4Z1GSvE92RKsxjzrrBJAIT
tid                                                                         0
genres_vec                  [0.0056837774, 0.014115254, 0.004639414, 0.008...
danceability                                                         0.868000
energy                                                               0.624000
key                                                                         7
loudness                                                            -8.840000
speechiness                                                          0.321000
acousticness                                                         0.020100
instrumentalness                                                     0.000007
liveness                                                             0.114000
valence                                                              0.646000
tempo                                                               93.887000
tempo_5cat                                                                  1
livness_5cat                                                                1
instrumentalness_3cat                                                       0
acousticness_10cat                                                          2
speechiness_10cat                                                           9
loudness_10cat                                                              4
music_continous_features    [1.7209452709471087, 0.1470935090797397, 0.630...
album_id                                                               510884
artist_id                                                              140316
genre_old_vec               [0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, ...
danceability_old3cat                                                        3
energy_old3cat                                                              2
loudness_old3cat                                                            2
speechiness_old3cat                                                         3
acousticness_old3cat                                                        1
instrumentalness_old3cat                                                    2
liveness_old3cat                                                            2
valence_old3cat                                                             3
tempo_old3cat                                                               1
Name: 0, dtype: object

# df_playlist

df_playlist: playlist - track interaction df 
- 1000000 playlist 
- 2269954 tracks

is sorted based on positoin

In [42]:
df_playlist = all_data['df_playlist']
#df_playlist = df_playlist.sort_values(['pid','pos'])

In [43]:
df_playlist.iloc[:10]

          pid     tid  pos
454771      0       2    0
14959834    0  130572    1
23861772    0    8769    2
16490639    0   16098    3
14461925    0   11177    4
11334646    0   74991    5
14131406    0   74992    6
37968236    0  159306    7
16518486    0  180027    8
662960      0    8570    9

# train-val-test splits

data splits is done at `playerlist` level

In [44]:
train_user_ids = all_data['train_user_ids']
val_user_ids = all_data['val_user_ids']
test_user_ids = all_data['test_user_ids']

In [45]:
len(train_user_ids)

950000

In [46]:
len(val_user_ids)

25000

In [47]:
len(test_user_ids)

25000

to get train /val /test splits playlist df

In [53]:
train_indices = all_data['train_indices']

In [50]:
df_playlist_train = df_playlist[df_playlist['pid'].isin(train_user_ids)]

In [52]:
len(df_playlist_train) == len(train_indices)

True